
/*--------------- basic styling --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Roboto Mono" !important;
      background: white !important;
      color: #000033 !important;
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid #000033;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 18em;
      }
}

@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 17em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: #000033;
      }
      to {
            border-right-color: transparent;
      }
}

/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: white;
      height: 80px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
}

nav #brand img {
      max-width: 70px;
}

nav #brand a {
      color: #000033;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #000033;
}

nav #menu li a:hover {
      text-decoration: none;
      color: #999999;
      transition: all 0.2s linear 0s;
      opacity: 1;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #000033;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: -2px;
      line-height: 58px;
}

@media(max-width: 768px) {
      .header h1 {
            font-size: 26px;
      }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 33px;
      height: 33px;
      border-bottom: 1px solid #000033;
      border-right: 1px solid #000033;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- projects section --------------- */
h6 {
      text-align: center;
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #000033;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: 500px;
}

.project1 {
      background: url(./images/DKN-Blue.png) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project1::after {
      content: "About me.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: -58%;
      right: 0;
      bottom: 0;
}

.project2 {
      background: url(https://neonfox.gr/image/cache/catalog/PRODUCTS11/vision/3-688x688.jpg) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project2::after {
      content: "..Vision";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: 120%;
      right: 0;
      bottom: 0;
}

.project3 {
      background: url(https://images.unsplash.com/photo-1504805572947-34fad45aed93?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project3::after {
      content: "Projects...";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: -60%;
      right: 0;
      bottom: 0;
}

.project4 {
      background: url(https://images.unsplash.com/photo-1492037766660-2a56f9eb3fcb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project4::after {
      content: "....Workshops";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: 120%;
      right: 0;
      bottom: 0;
}

.project5 {
      background: url(https://images.unsplash.com/photo-1600186403905-e08fca68e392?q=80&w=2025&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project5::after {
      content: "Personal development.....";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: -105%;
      right: 0;
      bottom: 0;
}

.project6 {
      background: url(https://www.post.lu/documents/20125/1106056/smart_parking_jumbotron.jpg) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project6::after {
      content: "Smart Parking 🚘";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: -68%;
      right: 0;
      bottom: 0;
}

.project7 {
      background: url(https://media.licdn.com/dms/image/D5612AQHEcUUUk3pEVA/article-cover_image-shrink_720_1280/0/1690946461509?e=2147483647&v=beta&t=yoxc4okcTZv3XtLmvaN9Zp6tIXNDErxH7ZftqWlXqtE) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project7::after {
      content: "🌱 Smart Irrigation";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: 110%;
      right: 0;
      bottom: 0;
}

.project8 {
      background: url(https://eliplay.nl/media/products/Laser-Maze-Family-Entertainment-Centers-ELI-Play.jpg) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project8::after {
      content: "Laser Maze 🖲️";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: -55%;
      right: 0;
      bottom: 0;
}

.project9 {
      background: url(https://miro.medium.com/v2/resize:fit:1400/0*BtVulQpxoXRHz_H3.png) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project9::after {
      content: "🔵 The Future of Holograms";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: 110%;
      right: 0;
      bottom: 0;
}

.project10 {
      background: url(https://images.squarespace-cdn.com/content/v1/575c3eec746fb9ca8e92d938/1521786853623-D94LPOLGOAS4O4S5B2X6/Emotional-Design-Don-Norman.jpg?format=1500w) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.project10::after {
      content: "Emotional Design 🖌️";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: -2%;
      left: -75%;
      right: 0;
      bottom: 0;
}

.sprint1 {
      background: url(https://media.licdn.com/dms/image/C5612AQGuFpsCbG_7jA/article-inline_image-shrink_1000_1488/0/1643182620248?e=1723075200&v=beta&t=GJhOTdCzXEVs2VZd1GiUzmMmkefw7268DUEm6jy411Y) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.sprint1::after {
      content: "SPRINT 1️⃣";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 40%;
      left: -70%;
      right: 0;
      bottom: 0;
}

.sprint2 {
      background: url(https://img.freepik.com/free-vector/design-process-concept-landing-page_23-2148313670.jpg?w=740&t=st=1719009684~exp=1719010284~hmac=323d5cb6d73fa0ebeca90ae51165cb4c16cd41f0c6729a8d6c5efbec219c425c) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.sprint2::after {
      content: "SPRINT 2️⃣";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: 140%;
      right: 0;
      bottom: 0;
}

.sprint3 {
      background: url(https://media.ccmbg.com/tc/2911629413/888622/1603354733) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.sprint3::after {
      content: "SPRINT 3️⃣";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: -70%;
      right: 0;
      bottom: 0;
}

.sprint4 {
      background: url(https://t4.ftcdn.net/jpg/06/91/73/29/360_F_691732924_NJ4mKKdscdgnrB5jXbF8dR56BxrBr1Xe.jpg) no-repeat 50% 50%;
      background-size: cover;
      cursor: pointer;
      border-radius: 50px;
}

.sprint4::after {
      content: "SPRINT 4️⃣";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #000033;
      display: block;
      top: 45%;
      left: 140%;
      right: 0;
      bottom: 0;
}

@media(max-width: 768px) {
      .project {
            width: 90% !important;
            margin: 14px auto;
      }

      .vertical {
            display: none;
      }

      .project1::after, .project2::after, .project3::after, .project4::after {
            display: none;
      }
}

/*--------------- footer section --------------- */
.collab {
      text-align: right;
}

.collab p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: #000033;
      height: 1px;
}

.info h4 {
      font-size: 18px;
      font-weight: lighter;
}

.info p {
      color: grey;
      font-weight: lighter;
}

.info li {
      font-weight: lighter;
      color: #000033;
      font-size: 18px;
      padding-left: 20px;
}

#fb::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #3b5998;
}


#ig::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #fcaf45;
}


#tw::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #55acee;
}


#yt::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #c4302b;
}

#media, #address {
      text-align: right;
}

#media ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #address {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
}

.hero-content h1 {
      font-size: 60px;
}

.hero-content h2 {
      font-size: 40px;
}

.hero-content h3 {
      font-size: 20px;
}

.hero-content p {
      font-weight: 300;
      line-height: 36px;
      color: #000033;
}

.hero-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
      margin-top: 120px;
}

.image {
      background: url(./images/DKN.JPG) no-repeat 50% 70%;
      background-size: cover;
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #000033;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next p {
      color: grey;
}

.prev p {
      text-align: left;
}

.next p {
      text-align: right;
}

/*---------------individual page --------------- */

.i1 {
      background: url(./images/individual/i1.jpg) no-repeat;
      background-size: cover;
}

.i2 {
      background: url(./images/individual/i2.webp) no-repeat;
      background-size: cover;
}

.i3 {
      background: url(./images/individual/i3.png) no-repeat;
      background-size: cover;
      height: 800px;
}

.i4 {
      background: url(./images/individual/i4.png) no-repeat;
      background-size: cover;
      height: 750px;
}

.id4 {
      background: url(./images/individual/id4.png) no-repeat;
      background-size: cover;
      height: 1850px;
}

.i5 {
      background: url(./images/individual/i5.jpeg) no-repeat;
      background-size: cover;
      height: 750px;
}

.i6 {
      background: url(./images/individual/i6.jpeg) no-repeat;
      background-size: cover;
      height: 750px;
}

.i7 {
      background: url(./images/individual/i7.jpeg) no-repeat;
      background-size: cover;
      height: 1060px;
}

.i8 {
      background: url(./images/individual/i8.jpeg) no-repeat;
      background-size: cover;
      height: 1060px;
}

.i9 {
      background: url(./images/individual/i9.jpeg) no-repeat;
      background-size: cover;
      height: 1060px;
}

.i10 {
      background: url(./images/individual/i10.jpg) no-repeat;
      background-size: cover;
      height: 1060px;
}

.d4 {
      background: url(./images/trio/d4.jpg) no-repeat;
      background-size: cover;
      height: 750px;
}

.d1 {
      background: url(./images/trio/d1.jpg) no-repeat;
      background-size: cover;
      height: 750px;
}

.d0 {
      background: url(./images/trio/d0.jpg) no-repeat;
      background-size: cover;
      height: 750px;
}

.d3 {
      background: url(./images/trio/d3.jpg) no-repeat;
      background-size: cover;
      height: 780px;
}

.d2 {
      background: url(./images/trio/d2.jpeg) no-repeat;
      background-size: cover;
      height: 780px;
}

.d4b {
      background: url(./images/trio/d4b.jpg) no-repeat;
      background-size: cover;
      height: 600px;
}

.d4c {
      background: url(./images/trio/d4c.jpg) no-repeat;
      background-size: cover;
      height: 600px;
}

.dc1 {
      background: url(./images/trio/dc1.jpg) no-repeat;
      background-size: cover;
      height: 780px;
}

.dc2 {
      background: url(./images/trio/dc2.jpg) no-repeat;
      background-size: cover;
      height: 670px;
}

.dc3 {
      background: url(./images/trio/dc3.jpg) no-repeat;
      background-size: cover;
      height: 580px;
}

.d5 {
      background: url(./images/trio/d5.jpg) no-repeat;
      height: 880px;
}

.d6 {
      background: url(./images/trio/d6.jpg) no-repeat;
      background-size: cover;
      height: 580px;
}

.db {
      background: url(./images/trio/db.png) no-repeat;
      background-size: cover;
      height: 1800px;
}

.d8 {
      background: url(./images/trio/d8.jpeg) no-repeat;
      background-size: cover;
      height: 880px;
}

.d9 {
      background: url(./images/trio/d9.jpeg) no-repeat;
      background-size: cover;
      height: 580px;
}

.d10 {
      background: url(./images/trio/d10.jpeg) no-repeat;
      background-size: cover;
      height: 580px;
}

.d11 {
      background: url(./images/trio/d11.jpeg) no-repeat;
      background-size: cover;
      height: 580px;
}

.d12 {
      background: url(./images/trio/d12.jpeg) no-repeat;
      background-size: cover;
      height: 580px;
}

.d13 {
      background: url(./images/trio/d13.png) no-repeat;
      background-size: cover;
      height: 450px;
}

/*---------------client page --------------- */

.clientimg1 {
      background: url(./images/client/client1.JPEG) no-repeat;
      background-size: cover;
}

.clientimg2 {
      background: url(./images/client/client2.JPEG) no-repeat;
      background-size: cover;
}

.clientimg3 {
      background: url(./images/client/client3.JPEG) no-repeat;
      background-size: cover;
}

.clientimg4 {
      background: url(./images/client/client4.JPEG) no-repeat;
      background-size: cover;
}

.plan1 {
      background: url(./images/client/plan1.png) no-repeat;
      background-size: cover;
}

.plan2 {
      background: url(./images/client/plan2.JPEG) no-repeat;
      background-size: cover;
}

.clientimg5 {
      background: url(./images/client/client5.jpg) no-repeat;
      background-size: cover;
}

.clientimg6 {
      background: url(./images/client/client6.png) no-repeat;
      background-size: cover;
}

.clientimg7 {
      background: url(./images/client/client7.png) no-repeat;
      background-size: cover;
}

.clientimg8 {
      background: url(./images/client/client8.jpg) no-repeat;
      background-size: cover;
}

.clientimg9 {
      background: url(./images/client/client9.png) no-repeat;
      background-size: cover;
}

.clientimg10 {
      background: url(./images/client/client10.JPEG) no-repeat;
      background-size: cover;
      height: 800px;
}

.clientimg11 {
      background: url(./images/client/client11.jpg) no-repeat;
      background-size: cover;
      height: 800px;
}

.clientimg12 {
      background: url(./images/client/client12.png) no-repeat;
      background-size: cover;
}

.clientimg13 {
      background: url(./images/client/client13.png) no-repeat;
      background-size: cover;
}

.clientimg14 {
      background: url(./images/client/client14.jpg) no-repeat;
      background-size: cover;
      height: 550px;
}

.clientimg15 {
      background: url(./images/client/client15.jpg) no-repeat;
      background-size: cover;
      height: 550px;
}

.s2c1 {
      background: url(./images/client/s2c1.JPEG) no-repeat;
      background-size: cover;
}

.s2c2 {
      background: url(./images/client/s2c2.JPEG) no-repeat;
      background-size: cover;
}

.s2c3 {
      background: url(./images/client/s2c3.png) no-repeat;
      background-size: cover;
      height: 600px;
}

.s2c4 {
      background: url(./images/client/s2c4.png) no-repeat;
      background-size: cover;
      height: 800px;
}

.s2c5 {
      background: url(./images/client/s2c5.png) no-repeat;
      background-size: cover;
      height: 800px;
}

.s2c6 {
      background: url(./images/client/s2c6.png) no-repeat;
      background-size: cover;
      height: 600px;

}

.s2c7 {
      background: url(./images/client/s2c7.jpg) no-repeat;
      background-size: cover;
}

.s2c8 {
      background: url(./images/client/s2c8.jpg) no-repeat;
      background-size: cover;
}

.s2c9 {
      background: url(./images/client/s2c9.JPEG) no-repeat;
      background-size: cover;
}

.s2c10 {
      background: url(./images/client/s2c10.jpg) no-repeat;
      background-size: cover;
      height: 550px;

}

.s2c11 {
      background: url(./images/client/s2c11.jpg) no-repeat;
      background-size: cover;
      height: 550px;
}

.s3c1 {
      background: url(./images/client/s3c1.png) no-repeat;
      background-size: cover;
      height: 650px;
}

.s3c2 {
      background: url(./images/client/s3c2.JPEG) no-repeat;
      background-size: cover;
}

.s3c3 {
      background: url(./images/client/s3c3.jpeg) no-repeat;
      background-size: cover;
}

.s3c4 {
      background: url(./images/client/s3c4.jpeg) no-repeat;
      background-size: cover;
      height: 315.5px;
}

.s3c5 {
      background: url(./images/client/s3c5.jpg) no-repeat;
      background-size: cover;
      height: 1050px;
}

.s4c1 {
      background: url(./images/client/s4c1.png) no-repeat;
      background-size: cover;
      height: 650px;
}

.s4c2 {
      background: url(./images/client/s4c2.JPEG) no-repeat;
      background-size: cover;
}

.s4c3 {
      background: url(./images/client/s4c3.JPEG) no-repeat;
      background-size: cover;
}

.s4c4 {
      background: url(./images/client/s4c4.JPEG) no-repeat;
      background-size: cover;
}

.s4c5 {
      background: url(./images/client/s4c5.JPEG) no-repeat;
      background-size: cover;
}

.s4c6 {
      background: url(./images/client/s4c6.JPEG) no-repeat;
      background-size: cover;
}

.s4c7 {
      background: url(./images/client/s4c7.JPEG) no-repeat;
      background-size: cover;
}

.s4c8 {
      background: url(./images/client/s4c8.JPEG) no-repeat;
      background-size: cover;
}

.s4c9 {
      background: url(./images/client/s4c9.JPEG) no-repeat;
      background-size: cover;
}

.s4c10 {
      background: url(./images/client/s4c10.jpg) no-repeat;
      background-size: cover;
}

.s4c11 {
      background: url(./images/client/s4c11.png) no-repeat;
      background-size: cover;
      height: 1950px;
}

.s4c12 {
      background: url(./images/client/s4c12.JPEG) no-repeat;
      background-size: cover;
}

.s4c13 {
      background: url(./images/client/s4c13.JPEG) no-repeat;
      background-size: cover;
}

.s4c14 {
      background: url(./images/client/s4c14.jpg) no-repeat;
      background-size: cover;
}

.s4c15 {
      background: url(./images/client/s4c15.jpg) no-repeat;
      background-size: cover;
}

.s4c16 {
      background: url(./images/client/s4c16.jpg) no-repeat;
      background-size: cover;
}

.s4c17 {
      background: url(./images/client/s4c17.jpg) no-repeat;
      background-size: cover;
}

.s4c18 {
      background: url(./images/client/s4c18.png) no-repeat;
      background-size: cover;
      height: 800px;
}

.s4c19 {
      background: url(./images/client/s4c19.png) no-repeat;
      background-size: cover;
      height: 800px;
}

.s4c20 {
      background: url(./images/client/s4c20.jpg) no-repeat;
      background-size: cover;
      height: 1050px;
}

.qr {
      background: url(./images/client/qr.png) no-repeat;
      background-size: cover;
      height: 1500px;
}

.v1 {
      background: url(./images/vision/v1.jpg) no-repeat;
      background-size: cover;
}

.v2 {
      background: url(./images/vision/v2.jpg) no-repeat;
      background-size: cover;
}

.v3 {
      background: url(./images/vision/v3.jpg) no-repeat;
      background-size: cover;
}

.v4 {
      background: url(./images/vision/v4.png) no-repeat;
      background-size: cover;
}

.v5 {
      background: url(./images/vision/v5.png) no-repeat;
      background-size: cover;
}

.v6 {
      background: url(./images/vision/v6.jpg) no-repeat;
      background-size: cover;
}

.v7 {
      background: url(./images/vision/v7.jpeg) no-repeat;
      background-size: cover;
}

.ab1 {
      background: url(https://www.yoursummitchurch.com/wp-content/uploads/2015/04/semester1-WEB.png) no-repeat;
}

.ab2 {
      background: url(https://www.yoursummitchurch.com/wp-content/uploads/2015/04/semester2-WEB.png) no-repeat;
}

.ab3 {
      background: url(https://www.yoursummitchurch.com/wp-content/uploads/2015/04/semester3-WEB.png) no-repeat;
}


.hl1 {
      background: url(https://miro.medium.com/v2/resize:fit:828/format:webp/0*k8Gp9Lxbw-fXoTaJ.png) no-repeat;
      background-size: cover;
}

.hl2 {
      background: url(https://miro.medium.com/v2/resize:fit:828/format:webp/0*WIJllovQyx1ESBdE.png) no-repeat;
      background-size: cover;
}

.hl3 {
      background: url(https://miro.medium.com/v2/resize:fit:1358/0*tQhTVhxbDNdb_l34) no-repeat;
      background-size: cover;
}

.hl4 {
      background: url(https://glukmedia.com/wp-content/uploads/2023/04/5_post_Holograma.webp) no-repeat;
      background-size: cover;
}

.hl4a {
      background: url(https://www.holoconnects.com/wp-content/uploads/2023/12/19b35f6b-e5d2-4c00-a0cc-db653cc19754.png) no-repeat;
      background-size: cover;
      height: 650px;
}

.hl4b {
      background: url(https://i.pinimg.com/originals/5a/9f/75/5a9f756b0783458204982883d15d5429.png) no-repeat;
      background-size: cover;
      height: 700px;
}

.hl20 {
      background: url(./images/passion/hl20.JPEG) no-repeat;
      background-size: cover;
      height: 720px;
}

.hl21 {
      background: url(./images/passion/hl21.JPEG) no-repeat;
      background-size: cover;
      height: 720px;
}

.hl22 {
      background: url(./images/passion/hl22.JPEG) no-repeat;
      background-size: cover;
      height: 720px;
}

.hl23 {
      background: url(./images/passion/hl23.JPEG) no-repeat;
      background-size: cover;
      height: 720px;
}

.hl24 {
      background: url(./images/passion/hl24.JPEG) no-repeat;
      background-size: cover;
      height: 720px;
}

.hl25 {
      background: url(./images/passion/hl25.JPEG) no-repeat;
      background-size: cover;
      height: 720px;
}



/*---------------workshops page --------------- */

.w1p1 {
      background: url() no-repeat;
      background-size: cover;
      height: 550px;

}